*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset */


.view{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    position: fixed;
    top: 0;
    left: 0;
    
    padding: 3px 2px;
    
    
    color: white;
}

.speaker-view, .enlarge{
    
    height: 35px;
    background-color: gray;
    
}

.view .speaker-view .material-icons{
    padding-top: 5px;

}

.speaker{
    display: inline-block;
    height: 100%;
    text-align: center;
    line-height: 12px;
}

.enlarge{
    padding: 0px 5px;
    padding-top: 10px;
    border-radius: 5px;
}



/* inizio container immagini */

main{
width: 100%;
    height: 100vh;

    padding-top: 60px;
    padding-bottom: 100px;

    overflow-y: auto;

    


    background-color: black;
}


main .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 3px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;

    
    

    /* border: 2px solid white; */
}

main .container .users{
    position: relative;
    min-width: calc(100% / 7 - 3px * 7 / 6);

    margin-bottom: 10px;
    

    color: white;

    /* border: 1px solid white; */
    /* test */
}

.users img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.users .name{
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.3);


}




/* inizio navbar sottostante */

nav{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 50px;
    /* test */
    /* padding-bottom: 8px; */
    background-color: #222222;
    color: white;

}

nav .toolbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

